.quiz-game-bg {
  min-height: 100vh;
  background: linear-gradient(120deg, #e6e4ef 50%, #f3c7fa 130%);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.quiz-game-navbar {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 17px 24px;
  border-bottom: 2px solid #cf5df8;
  position: sticky;
  top: 0;
  z-index: 5;
}

.quiz-game-title {
  font-size: 1.45rem;
  font-weight: 700;
  flex: 1;
  color: #000 !important;
}

.quiz-game-body h3,
.quiz-game-body .quiz-main-title,
.quiz-game-body .title {
  color: #000 !important;
}

.quiz-game-body {
  flex: 1;
  margin: 0 auto;
  padding: 32px 0 20px 0;
  max-width: 700px;
  width: 100%;
}
